Repository openfoodfacts/openfoodfacts-php, pull requests merged in 2024-05, with the labels that each got.

#47 feat: 0.3.x dev - Update dependencies and PHP to 8.1
  .env.example
  .github/workflows/auto-assign-pr.yml
  .github/workflows/ci.yml
  .gitignore
  .php-cs-fixer.dist.php
  CONTRIBUTING.md
  Makefile
  composer.json
  docker-compose.yml
  docker/php/Dockerfile
  docker/php/docker-php-ext-xdebug.ini
  docker/php/fpm_additional.conf
  docker/php/php.ini
  examples/01-basic_api_usage/cached_example.php
  phpstan.neon.dist
  src/Api.php
  src/Collection.php
  src/Document.php
  src/FilesystemTrait.php
  tests/ApiFoodCacheTest.php
  tests/ApiFoodTest.php
  tests/ApiPetTest.php
  tests/Helper.php
  tests/OpenFoodFacts/CollectionTest.php
  xdebug_profile/.gitkeep
Labels: dependencies, PHP 8.1

#52 feat: docker update
  .dockerignore
  .env.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  Makefile
  docker-compose.yml
  docker/Dockerfile
  docker/php/Dockerfile
  docker/php/docker-php-ext-xdebug.ini
  docker/php/fpm_additional.conf
  docker/php/php.ini
  docker/xdebug.ini
  examples/01-basic_api_usage/cached_example.php
  xdebug_profile/.gitkeep
Labels: enhancement, docker

#53 feat: force user agent
  .github/workflows/ci.yml
  composer.json
  phpunit.xml
  src/Api.php
  tests/ApiFoodCacheTest.php
  tests/ApiFoodTest.php
  tests/ApiPetTest.php
  tests/ApiTest.php
Labels: enhancement, user agent
